
<h1>ESTE ES MI INDEX</h1>



<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css">
<script src="../static/js/detalles-recurso.js"></script>



<head>
    <meta charset="UTF-8"> 

    <title>Proyecto ANS</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

    <
</head>
<body>
<header>
    <h1>Proyecto ANS</h1>
    <p>Bienvenido a nuestro proyecto de ANS. Aquí encontrarás información relevante y actualizada sobre nuestro trabajo y objetivos.</p>
</header>
<section>
    <h1>Acerca de Nosotros</h1>
    <p>Somos un equipo apasionado por la tecnología y la innovación, dedicado a crear soluciones digitales que ayuden a las personas a aprender, mejorar y descubrir nuevas herramientas.</p>
   <button onclick="window.location.href='/acerca--de--nosotros'">
    Conoce Más
</button>


</div>
</section>
<section>
 <h1>¿Qué buscamos lograr?</h1>
 <p>Nuestra misión es crear experiencias digitales fáciles de usar, combinando creatividad, programación y diseño para ofrecer proyectos útiles y modernos.</p>

</section>
<section>
    <h1>Nuestros valores</h1>
<div class="tarjeta">
    <h2>🚀 Innovación:</h2>
    <p>buscamos nuevas ideas y formas de mejorar.</p>
</div>
<div class="tarjeta">
    <h2>📚 Aprendizaje</h2>
    <p>siempre estamos creciendo y adquiriendo nuevos conocimientos.</p>
</div>
<div class="tarjeta">
    <h2>🤝 Compromiso</h2>
    <p> trabajamos para entregar resultados de calidad..</p>
</div>
<div class="tarjeta">
    <h2>🧑‍🎓Sobre mí</h2>
    <p>Soy un estudiante de bachillerato y creador de proyectos digitales apasionado por la programación, el desarrollo web y la creación de videojuegos. Me gusta aprender nuevas tecnologías y convertir ideas en experiencias interactivas. Actualmente desarrollo proyectos utilizando herramientas como Python, JavaScript, HTML y CSS </p>    
 

</section>

